/* contains templates that can be reused to create elements */
@use "base";

// For checkboxes
@mixin checkbox {
    width: 20px;
    height: 20px;
}

// Drop shadow for task
@mixin task-drop-shadow {
    box-shadow: 1px 4px 11px 1px rgba(201,201,201,0.75);
    -webkit-box-shadow: 1px 4px 11px 1px rgba(201,201,201,0.75);
    -moz-box-shadow: 1px 4px 11px 1px rgba(201,201,201,0.75);
}